pkgbase = herbe
	pkgdesc = Daemon-less notifications
	pkgver = 1.0.0.r10.gdec89e4
	pkgrel = 2
	url = https://github.com/dudik/herbe
	arch = x86_64
	license = MIT
	depends = libx11
	depends = libxft
	depends = freetype2
	provides = herbe
	provides = libnotify
	conflicts = herbe
	conflicts = libnotify
	source = git+https://github.com/dudik/herbe
	source = herbe.diff
	sha256sums = SKIP
	sha256sums = 3604b73bc2ace9dca92774c0cf127ffc4b33e85c77b7defd46cfc20853ff80f0

pkgname = herbe
